server:
  port: 0

spring:
  datasource:
    driverClassName: org.postgresql.Driver
    username: dbuser
    password: 12345
    url: jdbc:postgresql://localhost:6542/eventdb
  jpa:
    hibernate:
      ddl-auto: none
      format_sql: true
  sql:
    init:
      mode: always
  cloud:
    openfeign:
      okhttp:
        enabled: true
      circuitbreaker:
        enabled: true

  app:
    name: ewm-main
